<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>735807353591-1t4o27fa0n5ilj1rojg1b5n0ie6q9etk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.735807353591-1t4o27fa0n5ilj1rojg1b5n0ie6q9etk</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>735807353591-e9fllt3cgcu1plnuqqjb0gsnbg5vl6gf.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAs6JZjSXkZypNm1faguc30eH0NhTMnAAA</string>
	<key>GCM_SENDER_ID</key>
	<string>735807353591</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.whenly</string>
	<key>PROJECT_ID</key>
	<string>whenly-b7f07</string>
	<key>STORAGE_BUCKET</key>
	<string>whenly-b7f07.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:735807353591:ios:9928618e6db689b49ed9f2</string>
</dict>
</plist>